
body {
  background-color: #c2f7c9;
  background-image: url('./photos/treesbg.jpg');
  background-size: 1950px 1500px;
  background-repeat: no-repeat;
}


h1, h2 {
  text-align: center;
  text-decoration: underline;
}

#header {
  display: flex;
  justify-content: center;
  background-color: #c2f7c9;
  padding: 15px;
  margin-left: 35%;
  margin-right: 35%;
  border: 1px solid black;
}
.parkLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 175px;
  margin-bottom: 50px;
  border: thick double #c2f7c9;
}

.serviceList  { /*Top of page*/
  text-align: center;
  display: flex;
  width: 900px;
  border: 2px solid black;
  margin-left: 50%;
  transform: translateX(-50%);
  text-decoration: underline;
  margin-top: -10px;
  margin-bottom: 20px;
  background-color: #c2f7c9;
}

#servicesList__Ul { /*Services within serviceList box*/
  display: inline-block; /*This removes the bullet points and moves them side-by-side*/
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid black; /*double-check that this is okay with group*/
  padding: 3px;
  margin: 4px;
}

.guestList { /*Right-side of page*/
  float: right;
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 135px;
  padding-bottom: 20px;
  background-color: #c2f7c9;
  height: 625px;
  width: 250px;
}

#guestNames { /*Names within guest list*/
  padding: 15px;
}


#sectionHeader { /*Still trying to figure out this one*/
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 40px;
  background-color: #c2f7c9;
  padding-top: 10px;
  }

.sectionsList { /*main grid*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 20px;
}

.sectionId { /*Title of each box*/
  flex:1;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid black;
  background-color: #c2f7c9;
}

#sectionHTML--grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  grid-template-rows: repeat(2); /* Two rows */
 justify-content: center;
}

#footer {
  border: 2px solid black;
  background-color: #c2f7c9;
  text-align: center;
  font-size: 75%;
  margin-left: 35%;
  margin-right: 35%;
}